
.frames{
background-color: rgb(249, 246, 246);
float: left;
width: 33%;
height: 200px;
border: 1px solid black;
border-radius: 5px;
overflow : auto;
}

.frames h1{
    margin: 0;
    
}

button{
    margin-top: 0px;
    line-height: 30px;
    font-weight: bold;
    padding: 0 20px;
    float: right;
    background-color: rgb(202, 237, 253);
      
}
button:hover {
    background: rgb(244, 218, 208);
  }

  .pane.pane-top {
    background-color: #202429;
    padding-left: 5px !important;
    padding-right: 5px !important;
    justify-content: center !important;
  }
  
  .editor-lang {
    padding: 10px !important;
  }
  
  .editor-text {
    text-align: center;
    background-color: rgb(49 48 51 / 87%);
    color: rgba(250, 230, 194, 0.972);
    font-size: 1.2em;
    line-height: 2;
    justify-content: center;
  }
  
  .output-pane {
    left: 0;
    border: 0px solid;
    position: absolute;
    height: 50%;
    width: 100%;
    background-color: white;
    padding-bottom: 20px;
  }
  